/*!
 	NAAM VAN ONS PROJECT, v1.0
 	Created by Kiani Lannoye & Gilles Vandewiele, commissioned by UZ Ghent
    https://github.com/kianilannoye/Chronicals
    
    This file includes all own-made styling.
 */

/* HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/  */
@import "main.css"; 
@import "normalize.css";

/* onsenui v1.3.11 | Apache License | http://onsen.io/ */
@import "onsenui.css";
@import "onsen-css-components-dark-theme.css";


.navigatorTab {
	text-align: center; 
	width: 100%;
	height: 100%;
	display: table;
	table-layout: fixed;
}

.navigatorTabHead{
	display: table-row;
}

.navigatorTabBody{
	display: table-row;
}

.intensitySlider{
	width: 75%; 
	display: inline-block;
	vertical-align: 50%;
}

.intensityRange{
	display: inline-block;
	font-weight: bold;
	font-size: 125%;
	vertical-align: 50%;
}

.navigatorTabFoot{
	display: table-row;
}

.cancelButton {
	background: red; 
	position: fixed;
	bottom: 0px;
}

.buttonIcon {
	font-size: 32px;
}


.dashboard{
	width:100%;
	height:100%;
}

.row{
	height: 20%;

}

.row.stretch{
	width: 100%;
	height: 40%;
}
.tile.tileIcon{
	margin-left: auto;
	margin-right: auto;
}
.tile{
	
}
.tile.half{
	width: 50%;
	margin:0;
	padding:0px;
	align-content: center;
	text-align: center;
}

.row.footer.dashboardFooter{
	background-color: midnightblue;
}