/*!
 	NAAM VAN ONS PROJECT, v1.0
 	Created by Kiani Lannoye & Gilles Vandewiele, commissioned by UZ Ghent
    https://github.com/kianilannoye/Chronicals
    
    This file includes all own-made styling.
 */

/* HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/  */
@import "main.css"; 
@import "normalize.css";

/* onsenui v1.3.11 | Apache License | http://onsen.io/ */
@import "onsenui.css";
@import "onsen-css-components-dark-theme.css";


html, body{
	height: 100%;
}
.navigatorTab {
	text-align: center; 
	width: 100%;
	height: 100%;
	display: table;
	table-layout: fixed;
}

.navigatorTabHead{
	display: table-row;
}

.navigatorTabBody{
	display: table-row;
}

.navigatorTabFoot{
	display: table-row;
}

.intensitySlider{
	display: inline-block;
	overflow: hidden;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-right: 2px;
	padding-left: 1px;
	width: auto;
	min-height: 35px;
	outline: none;
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cccccc), color-stop(100%, #cccccc));
	background-position: center;
	background-size: 99% 4px;
	background-repeat: no-repeat;
	-webkit-appearance: none; 
	vertical-align: 50%;
}

.datePicker{
	color: black;
	float: right;
	height: 25px;
}

.timePicker{
	color: black;
	float: left;
	height: 25px;
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

input[type=date]::-webkit-clear-button {
    -webkit-appearance: none;
    display: none;
}

input[type=time]::-webkit-clear-button {
    -webkit-appearance: none;
    display: none;
}

.label{
	font-weight: bold;
	font-size: 125%;
	vertical-align: 50%;
	display: inline-block;
}

.timeLabel{
	font-size:100%;
	margin-top:0px;
	margin-left: 5%;
}

.cancelButton {
	background: red; 
	position: fixed;
	bottom: 0px;
}

.buttonIcon {
	font-size: 32px;
}

.dashboard{
	width:100%;
	height:100%;
}

.row{
	height: 20%;
	width: 100%;
	margin: 0;
	text-align: center;
	align-content: center;
	border-color: #3071a9;

}

.dashboard{
	border-color: #3071a9;
}

.row.stretch{
	height: 40%;
	overflow: hidden;
}
.tile .tileContent{
	margin: 0 auto;

}

.tile{
	border-color: #3071a9;


}

.tile.half{
	width: 50%;
	margin:0;
	padding:0px;
	align-content: center;
	text-align: center;

}

.row > div:nth-child(2).tile.half{
	border-left: 1px solid;
	border-color: #3071a9;
}

.tile.large{
	width: 100%;
	margin: 0;
	padding: 0;
	align-content: center;
	text-align: center;
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: #3071a9;
}
.row.footer.dashboardFooter{
	background-color: midnightblue;

}

.tileContent{
	height: 100%;
	color: #3071a9;
}

i.icon{
	font-size: 45px;


}
.tileContent > .ion-ios-calendar-outline{
	font-size: 72px;
}



.row.footer.dashboardFooter p{
	text-align: center;
	margin: auto;
}