<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "be.ugent.chronicals"
        versionCode = "10"
        version     = "1.0.0">
 
    <name>Chronicals</name>
 
    <description>
        A headache diary app
    </description>
 
    <author href="http://roelants-ramen.be" email="kdlannoy@gmail.com">
        Kiani Lannoye
    </author>
 
	
	<feature name="http://api.phonegap.com/1.0/camera"/>
	
    <feature name="http://api.phonegap.com/1.0/contacts"/>
    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>
	<gap:plugin name="org.apache.cordova.contacts" />
	<gap:plugin name="org.apache.cordova.camera" />
	<feature name="DatePicker">
	    <param name="ios-package" value="DatePicker"/>
	</feature>
	
	<feature name="DatePickerPlugin">
	    <param name="android-package" value="com.sharinglabs.cordova.plugin.datepicker.DatePickerPlugin"/>
	</feature>
	
	<gap:plugin name="com.sharinglabs.cordova.plugin.datepicker" />
	
 
</widget>