<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "be.ugent.chronicals"
        versionCode = "10"
        version     = "1.0.0">

    <name>Chronicals</name>

    <description>
        A headache diary app
    </description>

    <author>
        Kiani Lannoye and Gilles Vandewiele
    </author>

	<preference name="orientation" value="portrait" />

	<feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>
    <feature name="App">
        <param name="android-package" value="org.apache.cordova.App" />
    </feature>


</widget>
