<!doctype html>
<html lang="en" ng-app="Chronic">
<head>
    <meta charset="utf-8">

    <title>Geen naam</title>

    <!--<link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">-->


    <!-- Our style sheet -->
    <link rel="stylesheet" href="../css/style.css">
    <!-- Add this script to your header -->
    <script type="text/javascript">
        var is_chrome = navigator.userAgent.toLowerCase().indexOf('chrome') > -1;
        if(is_chrome){
            document.write('<link rel="stylesheet" href="/css/chrome.css" type="text/css" />');
        }
    </script>

    <!-- AngularJS + ngStorage | MIT License | https://angularjs.org/ -->
    <script src="../js/angular/angular.js"></script>
    <script src="../js/angular/ngStorage.min.js"></script>

    <!-- jQuery | MIT License | https://jquery.org/ -->
    <script src="../js/vendor/jquery-2.1.4.js"></script>


    <!-- onsenui v1.3.11 | Apache License | http://onsen.io/ -->
    <script src="../js/vendor/onsenui.min.js"></script>

    <!-- Main file & Dashboard controller -->
    <script src="../js/controllers/chronic.js"></script>
    <script src="../js/services/dataservice.js"></script>
    <script src="../js/controllers/dashboardController.js"></script>
    <script src="../js/vendor/Chart.min.js"></script>
    <script src="../js/vendor/angular-chart.js"></script>
    <script type="text/javascript" charset="utf-8" src="cordova-3.6.3.js"></script>
    <script type="text/javascript" charset="utf-8">


        // Wait for device API libraries to load
        //
        function onLoad() {
            document.addEventListener("deviceready", onDeviceReady, false);
        }

        // device APIs are available
        //
        function onDeviceReady() {
            ons.notification.alert("Lel");
            // Register the event listener
            document.addEventListener("backbutton", onBackKeyDown, false);
        }

        // Handle the back button
        //
        function onBackKeyDown() {
            ons.notification.alert("Lel");
            alert("Lel");
        }

    </script>


</head>

<body ng-controller="dashboardController">
<ons-navigator>
    <ons-page class="dashboardPage">
        <div class="dashboard">
            <ons-row class="row">

                <div class="tileContent tile half" ng-click="clearVariables();" onclick="location.href='headache.html'">
                    <div class="tileContentInner">
                        <i class="icon fa fa-user-md"></i>

                        <p>+Hoofdpijn</p>
                    </div>
                </div>

                <div class="tileContent tile half last" ng-click="clearVariables();" onclick="location.href='medicine.html'">
                    <div class="tileContentInner">
                        <i class="icon fa fa-medkit"></i>

                        <p>+Medicijn</p>
                    </div>
                </div>

            </ons-row>
            <ons-row class="row stretch">

                <div class="tileContent tile large" style="width: 100%;" onclick="location.href='history.html'">
                    <i class="icon fa fa-calendar-check-o dashboardMidIcon"></i>

                    <div id="midTile" style="width:100%;">
                        <ons-list class="list" style="height: 100%;overflow: scroll;">
                            <ons-list-item ng-repeat="obj in listItems" class="list__item headache">
                                <span class="list__item__line-height">
                                    <div class="list-left">
                                        <i ng-class="{'fa fa-user-md': obj.hasOwnProperty('end'), 'fa fa-medkit medicine': !obj.hasOwnProperty('end')}">     </i>
                                    </div>
                                    <div class="list-center" ng-class="{'medicine': !obj.hasOwnProperty('end')}">
                                        {{obj.hasOwnProperty('end')? getTimeDateString(obj.intensityValues[0].key) : getTimeDateString(obj.date)}}
                                        <!--{{""+((new Date(obj.intensityValues[0].key)).getDate())+"/"+(obj.intensityValues[0].key.getMonth()+1)+"         "+obj.intensityValues[0].key.getHours()+":"+obj.intensityValues[0].key.getMinutes()}}-->
                                        <!--12 okt 15:45-->
                                    </div>
                                    <div class="list-right"  ng-class="{'medicine': !obj.hasOwnProperty('end')}">
                                        {{obj.hasOwnProperty('end') ? obj.intensityValues[0].value+"/10" : obj.quantity +" mg"}}

                                        <!--8/10-->
                                    </div>
                                </span>
                            </ons-list-item>
                        </ons-list>
                    </div>
                </div>

            </ons-row>
            <ons-row class="row">
                <div class="tileContent tile half">
                    <div class="tileContentInner">
                        <i class="icon fa fa-info-circle"></i>
                        <p>Advies</p>
                    </div>
                </div>
                <div class="tileContent tile half last" onclick="location.href='settings.html'">
                    <div class="tileContentInner">
                        <i class="icon fa fa-cog"></i>
                        <p>Instellingen</p>
                    </div>
                </div>
            </ons-row>
            <ons-row class="row footer dashboardFooter" ng-click="show('options.html')">
                <p id="">Het is al 8u geleden dat u hoofdpijn had!</p>
            </ons-row>
        </div>

    </ons-page>
</ons-navigator>

<ons-template id="options.html" style="background-color: #1a252f;">
    <ons-dialog var="dialog" cancelable style="background-color: #1a252f;">

        <ons-list style="background-color: #1a252f;" >
            <ons-list-item class="listitem"  ng-click="closeListItem()"  onclick="location.reload()" modifier="tappable" style="border-bottom: 1px solid #FFFFFF;">
                Sluit hoofdpijn af (eind = nu)
            </ons-list-item>
            <ons-list-item ng-click="addDetailsListItem()" onclick="location.href='headache.html'" class="listitem" modifier="tappable" style="border-bottom: 1px solid #FFFFFF;">
                Intensiteit hoofdpijn toevoegen
            </ons-list-item>
            <ons-list-item ng-click="deleteListItem()" onclick="location.reload()" class="listitem" modifier="tappable">
                Hoofdpijn verwijderen
            </ons-list-item>
        </ons-list>

    </ons-dialog>
</ons-template>
</body>
</html>
