<!--
 	NAAM VAN ONS PROJECT, v1.0
 	Created by Kiani Lannoye & Gilles Vandewiele, commissioned by UZ Ghent
    https://github.com/kianilannoye/Chronicals

    This html file is the view for adding or modifying a headache.
-->

<!doctype html>
<html lang="en" ng-app="Chronic">
<head>
  <meta charset="utf-8">

  <title>Geen naam</title>

  <!-- Our style sheet -->
  <link rel="stylesheet" href="../css/style.css">

  <!-- AngularJS + ngStorage | MIT License | https://angularjs.org/ -->
  <script src="../js/angular/angular.js"></script>
  <script src="../js/angular/ngStorage.min.js"></script>

  <!-- onsenui v1.3.11 | Apache License | http://onsen.io/ -->
  <script src="../js/vendor/onsenui.min.js"></script>

  <!-- jQuery | MIT License | https://jquery.org/ -->
  <script src="../js/vendor/jquery-2.1.4.js"></script>

  <!-- Main file & Headache controller -->
  <script src="../js/controllers/chronic.js"> </script>
  <!--/*Dataservice VOOR de controller-->
  <script src="../js/services/dataservice.js"> </script>
  <script src="../js/controllers/headacheController.js"> </script>
    <script src="../js/vendor/Chart.min.js"></script>
    <script src="../js/vendor/angular-chart.js"></script>



</head>
<body ng-controller="headacheController">
    <div id="loadingImg" style="display: block;">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>


  <ons-navigator var="myNavigator" class="hidden">
	<!-- Intensity page -->
    <ons-page id="intensityList.html">
      <ons-toolbar>
      	<div class="left"></div>
        <div class="center" style="margin: 0 auto; text-align: center;"></div>
        <div class="right"><ons-toolbar-button ng-click="myNavigator.pushPage('manualAddHeadache.html');"><ons-icon icon="ion-help" style="font-size: 100%;"></ons-icon></ons-toolbar-button></div>
      </ons-toolbar>

      <div class="navigatorTab">
      	<div class="navigatorTabHead">
      		<h1>Intensiteiten</h1>
      		<p>Geef de intensiteiten aan met bijhorende tijd. Optioneel kan nog een eindtijd van uw volledige hoofdpijn ingegeven worden.</p>
      	</div>

      	<div class="navigatorTabBody">
      	  <ons-list>
      	    <ons-row>
      			<ons-col width="50%"><ons-list-header><p>Datum</p></ons-list-header></ons-col>
      			<ons-col width="25%"><ons-list-header><p>Waarde</p></ons-list-header></ons-col>
      			<ons-col><ons-list-header><p></p></ons-list-header></ons-col>
      	    </ons-row>
      		<ons-list-item height="10%" ng-repeat="value in headache.intensityValues track by value.key">
  				<div>
  					<div style="width: 55%; display: inline-block;"><p>{{value.key | date:'dd-MM HH:mm'}}</p></div>
  					<div style="width: 25%; display: inline-block;"><p>{{value.value}}</p></div>
  					<div style="display: inline-block;"><p><ons-icon ng-click="deleteEntry(value);" icon="ion-trash-b buttonIcon"></ons-icon></p></div>
  				</div>
      		</ons-list-item>
      		<ons-list-item ng-click="addIntensityValue(); myNavigator.pushPage('intensity.html')">
      			<ons-row>
      				<ons-col width="84%"><p>Voeg een nieuwe intensiteit toe...</p></ons-col>
      				<ons-col><p><ons-icon icon="ion-plus-round buttonIcon"></ons-icon></p></ons-col>
      			</ons-row>
      		</ons-list-item>
      	  </ons-list>
      	  <hr>
      	  <form name="intensityEndDate" id="endDateForm" ng-show="headache.intensityValues.length">
	      	  <ons-row>
		  			<p class="label timeLabel" style="margin-top: 5%;">Eindtijd: (optioneel)</p>
			  </ons-row>
			  <ons-row>
		  			<ons-col class="col ons-col-inner"><input name="endDate" type="date" ng-model="endDate" min="2013-01-01" max="2050-01-01" class="datePicker" validenddate button="nextButton" /></ons-col>
		  			<ons-col class="col ons-col-inner"><input name="endTime" type="time" placeholder="HH:mm" ng-model="endTime" class="timePicker" step="60" validendtime button="nextButton"/></ons-col>
		   	  </ons-row>
	   	 </form>
      	</div>

		<div class="navigatorTabFoot">
		    <ons-bottom-toolbar>
        		<button class="button cancelButton" ng-click="cancel();;transition();"><ons-icon icon="ion-close-round buttonIcon"></ons-icon> Annuleer</button>
        		<button class="button nextButton" ng-disabled="!headache.intensityValues.length" ng-click="setEnd(endDate, endTime); myNavigator.pushPage('location.html')" style="float: right;">Volgende <ons-icon icon="ion-ios-arrow-forward buttonIcon"></ons-icon></button>
        	</ons-bottom-toolbar>
		</div>
      </div>
    </ons-page>
  </ons-navigator>
    <ons-template id="popover.html" class="hidden">
        <ons-popover direction="up down" cancelable>
            <div style="text-align: center; opacity: 0.5;">
                <p><small>{{message}}</small></p>
            </div>
        </ons-popover>
    </ons-template>


  <script type="text/ons-template" id="intensity.html">
   <ons-page>
      <ons-toolbar>
      	<div class="left"></div>
        <div class="center" style="margin: 0 auto; text-align: center;"></div>
        <div class="right"><ons-toolbar-button ng-click="myNavigator.pushPage('intensityHelp.html');"><ons-icon icon="ion-help" style="font-size: 100%;"></ons-icon></ons-toolbar-button></div>
      </ons-toolbar>

      <div class="navigatorTab">
      	<div class="navigatorTabHead">
	      	<h3> Geef de intensiteit van de hoofdpijn aan op schaal van 0 tot 10. </h3>
      	</div>

      	<div class="navigatorTabBody">
	      	<p class="label" style="vertical-align: 50%;">0</p> <input type="range" min="0" max="10" class="range intensitySlider" ng-model="newHeadacheValue"> <p class="label" style="vertical-align: 50%;">10</p><br>
	      	<p class="label"> {{ newHeadacheValue }}  /  10 </p>
      	</div>
		<div class="navigatorTabFoot">
		    <ons-bottom-toolbar>
        		<button class="button cancelButton"  onclick="myNavigator.popPage();"><ons-icon icon="ion-close-round buttonIcon"></ons-icon> Annuleer</button>
        		<button class="button nextButton" ng-click="setNewHeadacheValue(newHeadacheValue);myNavigator.replacePage('times.html')" style="float: right;">Volgende <ons-icon icon="ion-ios-arrow-forward buttonIcon"></ons-icon></button>
        	</ons-bottom-toolbar>
		</div>
      </div>
    </ons-page>
  </script>

    <!-- This is some ugly copy pasta because getting another html file seems to be impossible locally (silly chrome) -->
  <script type="text/ons-template" id="intensityHelp.html">
    <ons-page>
        <ons-toolbar>
            <div class="left"><ons-toolbar-button ng-click="myNavigator.popPage()"><ons-icon icon="ion-ios-arrow-back" style="font-size: 150%;"></ons-icon></ons-toolbar-button></div>
            <div class="center" style="margin: 0 auto; text-align: center;"><ons-toolbar-button ng-click=";transition();" onclick="location.href='dashboard.html'"><ons-icon icon="ion-ios-home" style="font-size: 150%;"></ons-icon></ons-toolbar-button></div>
            <div class="right"></div>
        </ons-toolbar>
        <ul>
            <li style="color: #01579B">10</li>
            <li>Hoogst mogelijke pijn</li>
            <li>onmogelijk om normaal te functioneren</li>
            <li>grootste indenkbare pijn</li>
            <li>bedrust aangeraden</li>
            <br/>
            <li style="color: #01579B">9</li>
            <li>Heel hevige pijn</li>
            <li>Mogelijk niet helder denken of spreken</li>
            <li>Mogelijk niet normaal functioneren</li>
            <li>bedrust aangeraden</li>
            <br/>
            <li style="color: #01579B">8</li>
            <li>Hevige pijn</li>
            <li>Verhindert normale activiteiten</li>
            <li>rust aangeraden</li>
            <br/>
            <li style="color: #01579B">7</li>
            <li>Hoge pijn</li>
            <li>Moeilijk om zich te concentreren</li>
            <li>Moeilijk om dagelijkste activiteiten uit te voeren</li>
            <br/>
            <li style="color: #01579B">6</li>
            <li>Middelhoge pijn</li>
            <li>Limiteert dagelijkse activiteiten</li>
            <li>Sommige activiteiten krijgen lagere prioriteit</li>
            <br/>
            <li style="color: #01579B">5</li>
            <li>Middelmatige pijn</li>
            <li>Nood om het wat rustiger aan te doen</li>
            <li>De pijn leidt meer af</li>
            <br/>
            <li style="color: #01579B">4</li>
            <li>Milde-middelmatige pijn</li>
            <li>Gewoonlijke activiteiten worden moelijker</li>
            <br/>
            <li style="color: #01579B">3</li>
            <li>Afleidende pijn</li>
            <li>Gewoonlijke activiteiten nog mogelijk</li>
            <li>Kunnen moeilijker zijn</li>
            <br>
            <li style="color: #01579B">2</li>
            <li>Milde pijn</li>
            <li>Gewoonlijke activiteiten nog mogelijk</li>
            <li>Kunnen moeilijker zijn</li>
            <li style="color: #01579B">1</li>
            <li>Heel milde pijn</li>
            <li>Geen afleiding bij gewoonlijke activiteiten</li>
            <br>
            <li style="color: #01579B">0</li>
            <li>Geen pijn</li>
            <li>Geen hoofdpijn</li>
        </ul>
   	  </ons-page>
	</script>

    <script type="text/ons-template" id="manualAddHeadache.html">
        <ons-page>
            <ons-toolbar>
                <div class="left"><ons-toolbar-button ng-click="myNavigator.popPage()"><ons-icon icon="ion-ios-arrow-back" style="font-size: 150%;"></ons-icon></ons-toolbar-button></div>
                <div class="center" style="margin: 0 auto; text-align: center;"><ons-toolbar-button ng-click=";transition();" onclick="location.href='dashboard.html'"><ons-icon icon="ion-ios-home" style="font-size: 150%;"></ons-icon></ons-toolbar-button></div>
                <div class="right"><ons-toolbar-button ng-click="myNavigator.pushPage('intensityHelp.html')"><ons-icon icon="ion-ios-help" style="font-size: 150%;"></ons-icon></ons-toolbar-button></div>
            </ons-toolbar>
            <div style="text-align: center; margin-top: 5%;">
                <div><h2>Hoofdpijn</h2></div>
                <hr>
            </div>

            <div style="margin-left: 2%; margin-right: 2%;text-align: justify">
                <p>Het toevoegen van een hoofdpijn start met het toevoegen van de sterkte van de hoofdpijn op een ogenblik. De eerste waarde van de sterkte van de hoofdpijn dient ook als starttijd van de hoofdpijn. Door het klikken op de <i class="ion-plus-round"></i> icoon kom je op een nieuwe pagina waar je de intensiteit moet ingeven en het tijdstip. U kan er zoveel toevoegen als u wil.</p>
                <br/>
                <p>Naast de intensiteit op verschillende tijdstippen kan u ook het eindtijdstip instellen van de hoofdpijn. </p>
                <br/>
                <p>De intensiteit wordt aangeduid op een schaal van 0 tot 10 <ons-icon icon="ion-ios-help" ng-click="myNavigator.pushPage('intensityHelp.html')" style="font-size: 150%;"></ons-icon></p>
                <br/>

                <br/>
                <p>Wanneer u op volgende <i class="ion-ios-icon-forward"></i> klikt  u de locatie van de hoofdpijn ingeven door op de juiste plaats op de figuur te drukken. U kunt vanuit vier verschillende standpunten bekijken.</p>
                <br/>
                <p>Op het volgende scherm heeft u de mogelijkheid om de symptomen aan te duiden die u ondervindt of ondervond.</p>
                <br/>
                <p>Als laatste kan u nog de triggers aanduiden die de hoofdpijn zouden kunnen veroorzaakt hebben.</p>
            </div>
        </ons-page>
    </script>

  <!-- Start & end time page -->
  <script type="text/ons-template" id="times.html">
    <ons-page>
      <ons-toolbar>
        <div class="left"><ons-icon icon="ion-ios-arrow-back" style="font-size: 32px"></ons-icon><ons-toolbar-button ng-click="myNavigator.replacePage('intensity.html'); "> Terug</ons-toolbar-button></div>
        <div class="center" style="margin: 0 auto; text-align: center;"></div>
        <div class="right"><ons-toolbar-button ng-click="myNavigator.pushPage('manualAddHeadache.html');"><ons-icon icon="ion-help" style="font-size: 100%;"></ons-icon></ons-toolbar-button></div>
      </ons-toolbar>

      <div class="navigatorTab">
      	<div class="navigatorTabHead">
	      	<h3> Geef een tijdstip op.</h3>
      	</div>

      	<div class="navigatorTabBody">
      		<form name="addIntensityDate">
	      		<ons-row>
	  				<p class="label timeLabel">Tijdstip: </p>
	  			</ons-row>
	      		<ons-row>
	      			<ons-col class="col ons-col-inner"><input type="date" name="intensityDate" ng-model="newHeadacheDate" min="2013-01-01" max="2050-12-31" class="datePicker" required></ons-col>
	      			<ons-col class="col ons-col-inner"><input type="time" name="intensityTime" placeholder="HH:mm" ng-model="newHeadacheTime" class="timePicker" step="60" required></ons-col>
	      		</ons-row>
	      		<div class="error" ng-show="(addIntensityDate.intensityDate.$dirty && addIntensityDate.intensityDate.$invalid)
	      									|| (addIntensityDate.intensityTime.$dirty && addIntensityDate.intensityTime.$invalid)">
			    <small class="error" ng-show="addIntensityDate.intensityDate.$error.date">
			        - U moet een geldige startdatum ingeven! <br>
			    </small>
			    <small class="error" ng-show="addIntensityDate.intensityDate.$error.min">
			        - De startdatum moet later dan 01 januari 2013 zijn! <br>
			    </small>
			    <small class="error" ng-show="addIntensityDate.intensityDate.$error.max">
			        - De startdatum moet voor 31 december 2050 zijn! <br>
			    </small>
			    <small class="error" ng-show="addIntensityDate.intensityTime.$error.time">
			        - U moet een geldige starttijd ingeven! <br>
			    </small>
			  </div>
      		</form>
       </div>

      	<div class="navigatorTabFoot">
		    <ons-bottom-toolbar>
        		<button class="button cancelButton" onclick="myNavigator.popPage();"><ons-icon icon="ion-close-round buttonIcon"></ons-icon> Annuleer</button>
        		<button class="button finishButton" ng-disabled="addIntensityDate.$invalid" ng-click="setValues(newHeadacheValue, newHeadacheDate, newHeadacheTime);saveIntensityValue(myNavigator);" style="float: right;">Voeg toe <ons-icon icon="ion-checkmark-round buttonIcon"></ons-icon></button>
        	</ons-bottom-toolbar>
    	</div>
      </div>
    </ons-page>
  </script>

  <!-- Location page -->
  <script type="text/ons-template" id="location.html">
    <ons-page>
      <ons-toolbar>
        <div class="left"><ons-back-button>Terug</ons-back-button></div>
        <div class="center" style="margin: 0 auto; text-align: center;">{{startTimeString}}</div>
        <div class="right"><ons-toolbar-button ng-click="myNavigator.pushPage('manualAddHeadache.html');"><ons-icon icon="ion-help" style="font-size: 100%;"></ons-icon></ons-toolbar-button></div>
      </ons-toolbar>

      <div class="navigatorTab">
      	<div class="navigatorTabHead">
      		<h1> Locatie </h1>
	      	<h3> Toon op welke plaats(en) u pijn voelt. Tip: u kan het model draaien </h3>
      	</div>

      	<div class="navigatorTabBody">
		    <ons-carousel overscrollable auto-scroll swipeable var="carousel" style="height: 200px; width: 75%; margin-left: 12.5%;">
		      <ons-carousel-item style="position: absolute; bottom: 0;">
		        <ons-icon icon="ion-ios-arrow-back buttonIcon" ng-click="carousel.last()"></ons-icon>
		        <img src="../img/1_location.png"></img>
		        <ons-icon icon="ion-ios-arrow-forward buttonIcon" ng-click="carousel.next()"></ons-icon>
		      </ons-carousel-item>
		      <ons-carousel-item>
		        <ons-icon icon="ion-ios-arrow-back buttonIcon" ng-click="carousel.prev()"></ons-icon>
		        <img src="../img/2_location.png"></img>
		        <ons-icon icon="ion-ios-arrow-forward buttonIcon" ng-click="carousel.next()"></ons-icon>
		      </ons-carousel-item>
		      <ons-carousel-item>
		        <ons-icon icon="ion-ios-arrow-back buttonIcon" ng-click="carousel.prev()"></ons-icon>
		        <img src="../img/3_location.png"></img>
		        <ons-icon icon="ion-ios-arrow-forward buttonIcon" ng-click="carousel.next()"></ons-icon>
		      </ons-carousel-item>
		      <ons-carousel-item>
		        <ons-icon icon="ion-ios-arrow-back buttonIcon" ng-click="carousel.prev()"></ons-icon>
		        <img src="../img/4_location.png"></img>
		        <ons-icon icon="ion-ios-arrow-forward buttonIcon" ng-click="carousel.first()"></ons-icon>
		      </ons-carousel-item>
		    </ons-carousel>
      	</div>

      	<div class="navigatorTabFoot">
		    <ons-bottom-toolbar>
        		<button class="button cancelButton"  ng-click="cancel();;transition();"><ons-icon icon="ion-close-round buttonIcon"></ons-icon> Annuleer</button>
        		<button class="button nextButton" ng-click="myNavigator.pushPage('symptoms.html')" style="float: right;">Volgende <ons-icon icon="ion-ios-arrow-forward buttonIcon"></ons-icon></button>
        	</ons-bottom-toolbar>
    	</div>
      </div>
    </ons-page>
  </script>


  	<!-- Symptoms page -->
    <script type="text/ons-template" id="symptoms.html">
    <ons-page>
      <ons-toolbar>
        <div class="left"><ons-back-button>Terug</ons-back-button></div>
        <div class="center" style="margin: 0 auto; text-align: center;">{{startTimeString}}</div>
        <div class="right"><ons-toolbar-button ng-click="myNavigator.pushPage('manualAddHeadache.html');"><ons-icon icon="ion-help" style="font-size: 100%;"></ons-icon></ons-toolbar-button></div>
      </ons-toolbar>

      <div class="navigatorTab">
      	<div class="navigatorTabHead">
      		<h1> Symptomen </h1>
	      	<h3> Duid aan welke symptomen u ondervindt </h3>
      	</div>

      	<div class="navigatorTabBody">
      		<ons-list>
		        <ons-list-item ng-repeat="symptom in headache.symptoms">
		          <ons-row>
		          	<ons-col width="15%">
				          <label class="checkbox checkbox--list-item">
				            <input type="checkbox" ng-model="symptom.val">
				            <div class="checkbox__checkmark checkbox--list-item__checkmark"></div>
				          </label>
			        </ons-col>
			        <ons-col>
				          {{symptom.name}}
				          <ons-icon icon="ion-help" id="helpButtonSymptom{{symptom.id}}" class="helpIcon"></ons-icon>
		            </ons-col>
		          </ons-row>
		        </ons-list-item>
		    </ons-list>
      	</div>

      	<div class="navigatorTabFoot">
		    <ons-bottom-toolbar>
        		<button class="button cancelButton"  ng-click="cancel();;transition();"><ons-icon icon="ion-close-round buttonIcon"></ons-icon> Annuleer</button>
        		<button class="button nextButton" ng-click="myNavigator.pushPage('triggers.html')" style="float: right;">Volgende <ons-icon icon="ion-ios-arrow-forward buttonIcon"></ons-icon></button>
        	</ons-bottom-toolbar>
    	</div>
      </div>
    </ons-page>
  </script>

  	<!-- Triggers page -->
    <script type="text/ons-template" id="triggers.html">
    <ons-page>
      <ons-toolbar>
        <div class="left"><ons-back-button>Terug</ons-back-button></div>
        <div class="center" style="margin: 0 auto; text-align: center;">{{startTimeString}}</div>
        <div class="right"><ons-toolbar-button ng-click="myNavigator.pushPage('manualAddHeadache.html');"><ons-icon icon="ion-help" style="font-size: 100%;"></ons-icon></ons-toolbar-button></div>
      </ons-toolbar>

      <div class="navigatorTab">
      	<div class="navigatorTabHead">
      		<h1> Triggers </h1>
	      	<h3> Vink de mogelijke triggers aan </h3>
      	</div>

      	<div class="navigatorTabBody">
      		<ons-list>
		        <ons-list-item ng-repeat="trigger in headache.triggers">
		        <ons-row>
		          	<ons-col width="15%">
		          		<label class="checkbox checkbox--list-item">
				            <input type="checkbox" ng-model="trigger.val">
				            <div class="checkbox__checkmark checkbox--list-item__checkmark"></div>
			          	</label>
			        </ons-col>
			        <ons-col>
						{{trigger.name}}
						<ons-icon icon="ion-help" id="helpButtonTrigger{{trigger.id}}" class="helpIcon"></ons-icon>
			        </ons-col>
		        </ons-list-item>
		    </ons-list>
      	</div>

      	<div class="navigatorTabFoot">
		    <ons-bottom-toolbar>
        		<button class="button cancelButton" ng-click="cancel();transition();;"><ons-icon icon="ion-close-round buttonIcon"></ons-icon> Annuleer</button>
        		<button class="button finishButton" ng-click="closeAndSave();transition();" style="float: right;">Sla op <ons-icon icon="ion-checkmark-round buttonIcon"></ons-icon></button>
        	</ons-bottom-toolbar>
    	</div>
      </div>
  </ons-page>
  </script>

</body>
</html>
