<!--
 	NAAM VAN ONS PROJECT, v1.0
 	Created by Kiani Lannoye & Gilles Vandewiele, commissioned by UZ Ghent
    https://github.com/kianilannoye/Chronicals
    
    This html file is the view for viewing or modifying a headache.	
-->

<!doctype html>
<html lang="en" ng-app="Chronic">
<head>
  <meta charset="utf-8"> 
  
  <title>Geen naam</title>    
  
  <!-- Our style sheet -->
  <link rel="stylesheet" href="../css/style.css"> 

  <!-- AngularJS | MIT License | https://angularjs.org/ -->
  <script src="../js/angular/angular.js"></script>
  
  <!-- onsenui v1.3.11 | Apache License | http://onsen.io/ -->
  <script src="../js/vendor/onsenui.min.js"></script>    

  <!-- jQuery | MIT License | https://jquery.org/ -->
  <script src="../js/vendor/jquery-2.1.4.js"></script>  
  
  <!-- Headache controller -->
  <script src="../js/controllers/headacheController.js"> </script>

</head>

<body ng-controller="headacheController">    
  
  <ons-navigator var="myNavigator">

    <ons-page>
      <ons-toolbar>
      	<div class="left"></div>
        <div class="center">Nieuwe hoofdpijn</div>
        <div class="right"><ons-toolbar-button ng-click="myNavigator.pushPage('times.html', {title: 'Page'})">Volgende <ons-icon icon="ion-ios-arrow-forward" style="font-size: 32px"></ons-icon></ons-toolbar-button></div>
      </ons-toolbar>

      <div class="navigatorTab">
      	<div class="navigatorTabHead">
      		<h1> Intensiteit </h1> 
	      	<h3> Geef de intensiteit van de hoofdpijn aan op schaal van 0 tot 10. </h3> 
      	</div>
      	
      	<div class="navigatorTabBody">   
	      	<p class="label">0</p> <input type="range" min="0" max="10" class="range intensitySlider" ng-model="intensityValue"> <p class="label">10</p><br>
	      	<p class="label"> {{ intensityValue }}  /  10 </p>
      	</div>
      	
      	<div class="navigatorTabFoot">
        	<button class="button button--large cancelButton"><ons-icon icon="ion-close buttonIcon"></ons-icon> Annuleer</button>
        </div>
      </div>
    </ons-page>
  
  </ons-navigator> 
  
  <script type="text/ons-template" id="times.html">
    <ons-page>
      <ons-toolbar>
        <div class="left"><ons-back-button>Terug </ons-back-button></div>
        <div class="center" text-align="center">Nieuwe hoofdpijn</div>
        <div class="right"><ons-toolbar-button ng-click="myNavigator.pushPage('location.html', {title: 'Page'})">Volgende <ons-icon icon="ion-ios-arrow-forward buttonIcon"></ons-icon></ons-toolbar-button></div>
      </ons-toolbar>
      
      <div class="navigatorTab">
      	<div class="navigatorTabHead">
	      	<h3> Geef de start- (en indien mogelijk eindtijd) op. </h3>
      	</div>
      	
      	<div class="navigatorTabBody">    
      		<ons-row>
      			<ons-col class="col ons-col-inner" width="20%"><p class="label timeLabel">Starttijd: </p></ons-col> 
      			<ons-col class="col ons-col-inner"><input type="date" ng-model="startDate" min="2013-01-01" max="2050-01-01" class="datePicker"></ons-col> 
      			<ons-col class="col ons-col-inner" width="25%"><input type="time" placeholder="HH:mm" ng-model="startTime" class="timePicker" step="60"></ons-col>
      		</ons-row>
			<ons-row>
      			<ons-col class="col ons-col-inner" width="20%"><p class="label timeLabel">Eindtijd: (optioneel)</p></ons-col> 
      			<ons-col class="col ons-col-inner"><input type="date" ng-model="endDate" min="2013-01-01" max="2050-01-01" class="datePicker"></ons-col>
      			<ons-col class="col ons-col-inner" width="25%"><input type="time" placeholder="HH:mm" ng-model="endTime" class="timePicker" step="60"></ons-col>
       		</ons-row>
       </div>

      	<div class="navigatorTabFoot">
        	<button class="button button--large cancelButton"><ons-icon icon="ion-close buttonIcon"></ons-icon> Annuleer</button>
    	</div>
      </div>
    </ons-page>
  </script>
  
  <script type="text/ons-template" id="location.html">
    <ons-page>
      <ons-toolbar>
        <div class="left"><ons-back-button>Terug</ons-back-button></div>
        <div class="center">Nieuwe hoofdpijn</div>
        <div class="right"><ons-toolbar-button>Volgende <ons-icon icon="ion-ios-arrow-forward buttonIcon"></ons-icon></ons-toolbar-button></div>
      </ons-toolbar>

      <div class="navigatorTab">
      	<div class="navigatorTabHead">
      		<h1> Locatie </h1>
	      	<h3> Toon op welke plaats(en) u pijn voelt. Tip: u kan het model draaien </h3> 
      	</div>
      	
      	<div class="navigatorTabBody">        		
      	</div>
      	
      	<div class="navigatorTabFoot">
        	
    	</div>
      </div>
    </ons-page>
  </script>
  
</body>
</html>