<!doctype html>
<html lang="en" ng-app="Chronic">
<head>
  <meta charset="utf-8">
  <title>Geen naam</title>  
  <link rel="stylesheet" href="../css/style.css"> 

  <script src="../js/angular/angular.js"></script>
  <script src="../js/onsenui.js"></script>    
  <!--<script src="../app.js"></script>-->  
  
  <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>  
  
  <script> 
  	var app = angular.module('Chronic', ['onsen.directives']); 
  	app.controller('PageController', function($scope) {
      var options = $scope.myNavigator.getCurrentPage().options;
      console.log(myNavigator.getPages().length);
      console.log(options);
    });
  </script>

</head>

<body>

  <ons-navigator var="myNavigator">

    <ons-page>
      <ons-toolbar>
        <div class="center">Titel??</div>
        <div class="right"><ons-toolbar-button ng-click="myNavigator.pushPage('times.html', {title: 'Page'})">Volgende <ons-icon icon="ion-ios-arrow-forward" style="font-size: 32px"></ons-icon></ons-toolbar-button></div>
      </ons-toolbar>

      <div class="navigatorTab">
      	<h1> Intensiteit </h1>
      	<h3> Geef de intensiteit van de hoofdpijn aan op schaal van 0 tot 10 </h3>
      	<input type="range" class="range" style="width: 75%;"> <br>
      	<h3> {aangewezen waarde} / 10 </h3>
        <button class="button button--large cancelButton"><ons-icon icon="ion-close" style="font-size: 32px"></ons-icon> Annuleer</button>
      </div>
    </ons-page>

  </ons-navigator>

  <script type="text/ons-template" id="times.html">
    <ons-page ng-controller="PageController">
      <ons-toolbar>
        <div class="left"><ons-back-button>Terug</ons-back-button></div>
        <div class="center">Page 2</div>
        <div class="right"><ons-toolbar-button>Volgende <ons-icon icon="ion-ios-arrow-forward" style="font-size: 32px"></ons-icon></ons-toolbar-button></div>
      </ons-toolbar>

      <div style="text-align: center">
        <h1>Page 2</h1>
        <ons-button
          ng-click="myNavigator.pushPage('times.html', {title: 'Page'})">
          Push Page
          </ons-button>

        <ons-button
          ng-click="myNavigator.popPage()">
          Pop Page
        </ons-button>
      </div>
    </ons-page>
  </script>
  
</body>
</html>