<!--
 	NAAM VAN ONS PROJECT, v1.0
 	Created by Kiani Lannoye & Gilles Vandewiele, commissioned by UZ Ghent
    https://github.com/kianilannoye/Chronicals
    
    This html file is the view for adding or modifying a medicine.	
-->

<!doctype html>
<html lang="en" ng-app="Chronic">
<head>
  <meta charset="utf-8"> 
  
  <title>Geen naam</title>    
  
  <!-- Our style sheet -->
  <link rel="stylesheet" href="../css/style.css"> 
  
  <!-- AngularJS | MIT License | https://angularjs.org/ -->
  <script src="../js/angular/angular.js"></script>
  
  <!-- onsenui v1.3.11 | Apache License | http://onsen.io/ -->
  <script src="../js/vendor/onsenui.min.js"></script>    

  <!-- jQuery | MIT License | https://jquery.org/ -->
  <script src="../js/vendor/jquery-2.1.4.js"></script>  
  
  <!-- Main file & Medicine controller -->
  <script src="../js/controllers/chronic.js"> </script>
  <script src="../js/controllers/medicineController.js"> </script>

</head>

<body ng-controller="medicineController">   
	
	<ons-page>
      <ons-toolbar>
      	<div class="left"></div>
        <div class="center" style="margin: 0 auto; text-align: center;">Nieuwe hoofdpijn</div>
        <div class="right"></div>
      </ons-toolbar>

      <div class="navigatorTab">
      	<div class="navigatorTabHead">
      		<ons-icon icon="fa-info-circle" style="font-size: 250%;"></ons-icon> <br>
      		<p class="label">{{advice}}</p>
      	</div>
      	
      	<div class="navigatorTabBody">  
      		<ons-row>
		    <div class="selectDiv">
		        <span class="selectDefault">{{selectedDrug}}</span>
			      <select ng-model="selectedDrug">
			        <option ng-repeat="drug in drugs track by drug.id" style="background-color: #222; color: #FFFFFF" value="{{drug.name}}">{{ drug.name }}</option>
			      </select>
		     </div>	    
		     <input type="text" style="width: 35%; background-color: #222; color: #FFFFFF">
		     <label>mg</label>
		     </ons-row>
      	</div>
      	
		<div class="navigatorTabFoot">
		    <ons-bottom-toolbar>
        		<button class="button cancelButton"  onclick="location.href='dashboard.html'"><ons-icon icon="ion-close-round buttonIcon"></ons-icon> Annuleer</button>
        		<button class="button finishButton" style="float: right;">Sla op <ons-icon icon="ion-checkmark-round buttonIcon"></ons-icon></button>
        	</ons-bottom-toolbar>
		</div>
      </div>	
    </ons-page>
	
</body>