<!--
 	NAAM VAN ONS PROJECT, v1.0
 	Created by Kiani Lannoye & Gilles Vandewiele, commissioned by UZ Ghent
    https://github.com/kianilannoye/Chronicals

    This html file is the view for adding or modifying a medicine.
-->

<!doctype html>
<html lang="en" ng-app="Chronic">
<head>
  <meta charset="utf-8">

  <title>Geen naam</title>

  <!-- Our style sheet -->
  <link rel="stylesheet" href="../css/style.css">

  <!-- AngularJS + ngStorage | MIT License | https://angularjs.org/ -->
  <script src="../js/angular/angular.js"></script>
  <script src="../js/angular/ngStorage.min.js"></script>

  <!-- onsenui v1.3.11 | Apache License | http://onsen.io/ -->
  <script src="../js/vendor/onsenui.min.js"></script>

  <!-- jQuery | MIT License | https://jquery.org/ -->
  <script src="../js/vendor/jquery-2.1.4.js"></script>

  <!-- Main file & Medicine controller -->
  <script src="../js/controllers/chronic.js"> </script>
  <script src="../js/services/dataservice.js"> </script>
  <script src="../js/controllers/medicineController.js"> </script>
    <script src="../js/vendor/Chart.min.js"></script>
    <script src="../js/vendor/angular-chart.js"></script>

</head>

<body ng-controller="medicineController">

	<ons-page>
      <ons-toolbar>
      	<div class="left"></div>
        <div class="center" style="margin: 0 auto; text-align: center;"></div>
        <div class="right"></div>
      </ons-toolbar>

      <div class="navigatorTab">
      	<div class="navigatorTabHead">
      		<ons-icon icon="fa-info-circle" style="font-size: 250%;"></ons-icon> <br>
      		<p class="label">{{advice}}</p>
      	</div>

      	<div class="navigatorTabBody">
	      	<ons-row>
      			<p class="label" style="margin-left: 5%;">Medicijn + hoeveelheid:</p>
	      	</ons-row>
      		<ons-row>
			    <div class="selectDiv" style="width: 40%;">
			        <span class="selectDefault">{{selectedDrug.name}}</span>
				      <select ng-options="drug as drug.name for drug in drugs" ng-model="selectedDrug">
				      	<option style="display:none" value="">select a drug</option>
				      </select>
			     </div>
			     <input type="number" style="width: 20%;" min="1" class="medicineQuantity">
			     <label>mg</label>

		     </ons-row>
		     <ons-row style="margin-top: 5%;">
		     	<p style="margin-left: 5%;">{{selectedDrug.description}}</p>
		     </ons-row>
		     <ons-row style="margin-top: 5%;">
      			<p class="label" style="margin-left: 5%">Tijdstip van inname:</p>
		     	<input type="date" ng-model="endDate" style="margin-left: 5%;" min="2013-01-01" max="2050-01-01" class="datePicker"></ons-col>
      			<input type="time" placeholder="HH:mm" ng-model="endTime" class="timePicker" step="60"></ons-col>
		     </ons-row>
      	</div>

		<div class="navigatorTabFoot">
		    <ons-bottom-toolbar>
        		<button class="button cancelButton"  onclick="location.href='dashboard.html'"><ons-icon icon="ion-close-round buttonIcon"></ons-icon> Annuleer</button>
        		<button class="button finishButton" style="float: right;">Sla op <ons-icon icon="ion-checkmark-round buttonIcon"></ons-icon></button>
        	</ons-bottom-toolbar>
		</div>
      </div>
    </ons-page>

</body>
